
body {

}
table{
  margin-top: 5%;
  margin-left: 2%;
  border-style: solid;
  
}

tr{
  border-style: solid;
}

td{
  border-style: solid;
  height: 200px;
  width:  200px;
  text-align: center;
  font-size: 48px;
  
}
.Game{
  float: left;
  height: 100%;
  width: auto;
}
.infos{
  float: right;
  height: 100%;
  width: auto;
  text-align: center;
}